.icons-wrapper{
    position: relative;
    transition: all 0.2s ease;

    &:hover, &:focus .icon{
        stroke:  var(--hover-pink);
        stroke-width: 3px;
        width: 95px;
        height: 68px;

        .icon-plus{
            fill: var(--hover-pink);
        }
        .icon-plus-wrapper{

            left: 37px;
            top:34px;
        }
    }
}

.icon-plus-wrapper{
    position: absolute;
    left: 35px;
    top:33px;
}

.icon-plus{
    transition: all 0.2s ease;
    fill: var(--white);
}