.title{
    font-family: var(--chikare-family);
    font-size: 32px;
    line-height: 0.75;
    text-align: center;
    color: var(--purple);
    text-shadow:
            -3px  0 0 var(--dark-purple),
            3px  0 0 var(--dark-purple),
            0 -3px 0 var(--dark-purple),
            0  3px 0 var(--dark-purple),
            -2px -2px 0 var(--dark-purple),
            2px -2px 0 var(--dark-purple),
            -2px  2px 0 var(--dark-purple),
            2px  2px 0 var(--dark-purple),
            6px 6px 0 var(--white),
            10px 4px 14px var(--white);
    margin-top: 30px;
    margin-bottom: 30px;
}