.container {
    max-width: 375px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    background-image: url('../assets/images/BACK.svg');
    box-shadow: 0 4px 4px 10px rgba(0, 0, 0, 0.25);

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1248px;
    }
}
