
.windowWrapper{
    position: relative;
    background-image: url('../../assets/images/WINDOW.png');
    width: 338px;
    height: 408px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 35px 35px;
}